body{
    font-family: 'Lora', serif;
}
.p-content{
    padding: 0 10%;
}
.shadows-into-light{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
}
.grand_open{
    font-size: 6.9rem;
    text-shadow: 2px 2px #00000075;
}
.about{
    font-size: 2.5em;
    text-shadow: 3px 3px #00000075;
}
.about-content{
    font-size: 1.5625em;
    text-shadow: 2px 2px #00000075;
}
.p-title{
    font-size: 0.5em;
}
.BG{
    background-size: cover;
    height: 30vw;
}
.BG1{
    background-image: url("../images/coffee.png");
}
.BG2{
    background-image: url("../images/cafe.png");
}
.news{
    background-color: #81613B33;
}
.frame{
    background-color: #fff;
    width: 1000px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
}
footer{
    background-color: black;
}
.photo{
    background-size: cover;
    height: 346px;
    width: 346px;
    position: relative;
    right: 10px;
}
.img1{
    background-image: url('../images/drink.png');
}
.img2{
    background-image: url('../images/cakes.png');
}
.img3{
    background-image: url('../images/foods.png');
}
.my-border{
    border: 8px solid #81613B;
    border-radius: 180px;
    overflow: hidden;
    height: 350px;
    width: 350px;
}
.text{
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    width: 350px;
    position: relative;
    right: 17px;
    bottom: 90px;
    font-size: 26px;
    padding-top: 20px;
}
.text2{
    width: 365px;
}
.ml-1{
    margin-left: 10px;
}
.border-radius{
    border-radius: 30px;
}
.pl-5{
    padding-left: 50px;
}

.img-hover>.photo, .img-hover>.text{
    transition: all 0.3s;
}
.img-hover:hover>.photo{
    scale: 1.2 1.2;
}
.img-hover:hover>.text{
    position: relative;
    bottom: 140px;
}

.my-row{
    --bs-gutter-x: 0;
}

@media(max-width: 1400px){
    .BG2{
        font-size: 12px;
    }
    .frame{
        width: 800px;
    }
}
@media(max-width: 1000px){
    .BG{
        height: 300px;
    }
    .grand_open{
        font-size: 3rem;
        text-shadow: 2px 2px #00000075;
    }
    .frame{
        width: 450px;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }
}

@media(max-width: 470px){
    .frame{
        width: 400px;
    }
}